body {
	margin: 0px;
	color: #222;
	padding-top: 50px;
	padding-bottom: 20px;
}

p, h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

html, body, #content { 
	height: 100%; 
}

body > #container { 
	height: auto;
	min-height: 100%;
}

#content {
	border-top: 1px solid #000;
	top: 10px;
	bottom: 0px;
}


.flash { 
	background: #CEE5F5; 
	padding: 0.5em;
	border: 1px solid #AACBE2; 
}

#footer  {
	position: relative;
	clear: both;
	background-color: #222;
}

#footer div {
	padding: 25px 0; 
	height: auto;
	overflow: hidden;
	color: #777;
	font-size: 0.8em;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}